@use '../../styles/variables' as *

.input-group
  position: relative
  display: flex
  flex-direction: column

  input
    background-color: transparent
    border-radius: 4px
    border: 1px solid #D0CFCF
    outline: none
    padding: 16px

  label
    position: absolute
    top: 0
    padding: 12px
    pointer-events: none
    transition: all 0.3s ease
    color: #7E7E7E

.input-group :is(input:focus, input:valid) ~ label
  transform: translateY(-50%)
  background-color: $color-background
  padding-inline: 4px
  margin-left: 12px
  line-height: $line-height-xs
  font-size: $font-size-xs

.helper-text
  margin-top: 3px
  margin-left: 12px
  color: #7E7E7E
  line-height: $line-height-xs
  font-size: $font-size-xs

.input-group-error
  input
    border: 1px solid $color-error

  label
    color: $color-error

  .helper-text
    color: $color-error