@use "../../styles/variables" as *
@use "../../styles/media" as *

.landing
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/landing.jpeg') // image taken from public folder, don't need a full path
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  width: 100%
  max-width: $view-width-lg
  height: 650px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  +breakpoint(xs)
    justify-content: flex-start
    height: 500px

  &__text-container
    max-width: 380px
    color: $color-white
    text-align: center
    margin: 0 32px 21px 32px

    +breakpoint(xs)
      max-width: 328px
      margin: 16px 0 21px 0
