@use './variables' as *

body
  box-sizing: border-box
  margin: 0
  padding: 0
  border: none
  font-family: 'Nunito', sans-serif
  font-weight: 400
  line-height: $line-height-sm
  background-color: $color-background

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
