// Colors
$color-primary: #F4E041
$color-secondary: #00BDD3
$color-background: #F8F8F8

// Typography
$font-size-xs: 16px
$font-size-lg: 40px
$line-height-sm: 26px
$line-height-lg: 40px

// Breakpoints
$breakpoint-xs: 360px
$breakpoint-sm: 768px
$breakpoint-md: 1024px
$breakpoint-lg: 2560px
