@use "../../styles/variables" as *
@use "../../styles/media" as *

.header
  display: flex
  justify-content: center
  min-width: 100%
  height: 60px
  background-color: $color-white

  &__container
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    max-width: $view-width-lg
    padding-inline: 16px

    +breakpoint(xs)
     padding-inline: 8px

    +breakpoint(sm)
      padding-inline: 16px

    +breakpoint(md)
      padding-inline: 32px

  &__logo
    width: 104px
    height: 26px

  &__buttons
    display: flex
    gap: 10px
